.terraform/*
*.tfstate
*.tfstate.backup
stage/services/webserver-cluster/.terraform*
stage/data-stores/mysql/.terraform*
stage/data-stores/terraform.tfvars
prod/services/webserver-cluster/.terraform*
prod/data-stores/.terraform*
prod/data-stores/terraform.tfvars
modules/services/webserver-cluster/.terraform*
global/.terraform*
global/s3/terraform.tfvars
global/s3/.terraform*